{% extends "base.html" %}

{% block body %}
<form action="/signup" method="post">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserName</label>
    <input type="text" class="form-control" name="username" id="" placeholder="type your UserName here">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Email</label>
    <input class="form-control" type="email" name="email" placeholder="type your Email here " rows="5"></input>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
    <input class="form-control" name="password" placeholder="type your password here" id="" type="password"  >
  </div>
  <button type="submit">send me</button>
</form>
{% endblock %}