{% extends "base.html" %}

{% block body %}
<form action="" method="post">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="" placeholder="type your title here">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="" placeholder="type your message here " rows="5"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <input class="form-control" placeholder="select your file" id="" type="file"  rows="5">
  </div>
</form>
{% endblock %}